@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Merriweather", serif;
  font-size: 0.789rem;
}
h1 {
  color: #8e94f2;
  padding-bottom: 0.6rem;
}
h2 {
  color: #ada7ff;
  padding: 0.6rem;
}
.cuadro {
  background-color: #ddbdfc;
  max-width: 80;
  margin: 1rem;
  border-radius: 2rem;
  padding: 1rem;
}
.rectangulo {
  background-color: #bbadff;
  max-width: 80;
  margin: 1rem;
  border-radius: 2rem;
  padding: 1rem;
}
span {
  color: #757bc8;
}
pre {
  white-space: pre-wrap;
  padding-left: 1rem;
  display: block;
  font-size: 1.5rem;
}
.alineo {
  text-align: right;
  padding: 1rem 3rem 0rem 0rem;
}