@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 0.785rem;
  background-color: #0b0b0b;
}
body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 2.5rem;
  padding-bottom: 2.5rem;
}
div {
  max-width: 54.6rem;
  min-width: 33.5rem;
  height: 60%;
  background-color: #000000;
  color: white;
  margin: 1.4rem 2.5rem 1rem 0rem;
  border-radius: 1rem;
  border: 0.2px solid #282828;
  font-family: "Roboto", sans-serif;
}
div > small {
  font-size: 1.2em;
  padding: 1rem 0rem 1rem 2rem;
  font-weight: 500;
}
div > small > span {
  font-size: 1rem;
  font-weight: normal;
  color: rgb(173, 170, 170);
  padding-left: 0.2rem;
}
div > h1 {
  font-size: 1.6rem;
  padding: 1rem 1rem 3rem 2rem;
  font-weight: 500;
}
img {
  height: 80.5%;
  width: 100%;
  padding-bottom: 2.3rem;
}
