    p::first-letter {
            font-size: 2em;
            font-weight: bold; }
h1 {background-color: #E7A614; color: white;border-radius: 14em}
h2 {background-color: #E7A614; color: white;border-radius: 14em}
h3 {background-color: #E7A614; color: white;border-radius: 14em}
p {background-color: white; color: #0BB363; border-radius: 14em;}
li {color: white;}
a {background-color: #E7A614; color: white;border-radius: 4em}
td {border: #E7A614 5px solid; border-width: 0.5ch;}
table {border-collapse: collapse; margin: 0 auto;}
:root {background-color: #0BB363; color:white; text-align:center; font-size: 2vmax;}
.panel {margin-top: 0; font: 0.8rem;
    font-weight: bold; text-transform: uppercase;}
.panel > h2 {margin-top: 0; font: 0.8rem;
font-weight: bold; text-transform: uppercase;}