    p::first-letter {
            font-size: 2em;
            font-weight: bold; }
h1 {background-color: green; color: white;}
h2 {background-color: green; color: white;}
p {background-color: white; color: olivedrab;}
li {color: white;}
a {background-color: green; color: white;}
td {border: white 5px solid;}
table {border-collapse: collapse; margin: 0 auto;}
body {background-color: olivedrab; text-align:center}