* {
  margin: 0;
  padding: 0;
  border: 0;
}
:root {
  background-color: #f1eeee;
  color: black;
  font-size: 0.789em;
  --grey: #adb5bd;
}
.cuadro {
  background-color: #fff;
  max-width: 55%;
  margin: 3% auto auto auto;
  border-radius: .3rem;
  font-size: 1.5rem;
  padding-bottom: 1em;
}
h1 {
  font-size: 1.8rem;
  color: #7d808d;
  font-weight: normal;
  padding-left: 4rem;
  padding-top: 4rem;
}
p {
  padding-left: 4rem;
}
input {
  border: 1px solid #e0e1e4;
  border-radius: .6rem;
  padding: .6em;
  width: 80%;
}
input[type=checkbox]{
  margin-left: 4rem;
  margin-bottom: 1em;
  width: 1em;
}
button {
  border-radius: 0.4rem;
  color: white;
  background-color: #5469d4;
  width: 80%;
  height: 3rem;
  border: none;
  font-weight: bold;

}
a {color: #687BD9; text-decoration: none; font-weight: bold; font-size: 1.3rem;}
a:first-of-type {font-size: 1.7rem; }
span{
  display: block;
  width: 100%;
  text-align: center;
}

