@import "../bootstrap-4.3.1/scss/bootstrap.scss";
@import "./reset";
@import "./variables";
@import "./maps";

//Mixin
/*@mixin theme($light-theme: true) {
  @if $light-theme {
    background-color: $ligthen($bg-color, 50%);
    color: $darken($color, 100%);
  } @else {
    background-color: $darken($bg-color, 50%);
    color: $ligthen($color, 100%);
  }
}
//clases
.light {
  @include theme($light-theme: true);
}*/
//cambios especificos
nav > .container-fluid > .d-flex > .btn-outline-success {
  padding: .3rem;
  width: 3.5rem;
  font-size: .9rem;
  margin-right: -1.5rem;
  @media (min-width: @screen-sm-min) {

  }};
/*nav > div > a > img {
  width: 1.5rem;
  height: 1.5rem;
  padding-bottom: .4rem;
}
nav > div > .navbar-brand {
  font-size: .8rem;
}
nav > div > ul > li > a {
  font-size: .6rem;
}*/
//Hover nav principal
nav > ul > li:hover {
  border-radius: 0.4rem 0.4rem 0rem 0rem;
}
.firstnav:hover {
  background-color: $yellownb;
}
.dropdown:hover {
  background-color: $purplenb;
}
.lastnav:hover {
  background-color: $black;
}
nav > ul > li > .nav-link:hover {
  color: $white;
}
nav > ul > li > .firstanav:hover {
  color: $dark;
}
//Hover dropdown
nav > ul > .dropdown > .dropdown-menu {
  background-color: $purple;
}
nav > ul > .dropdown > .dropdown-menu > .dropdownli > .dropdown-item:hover {
  border: 0.1px solid $dark;
}
nav > ul > .dropdown > .dropdown-menu > .dropdownli > .dr1:hover {
  background-color: $yellownb;
}
nav > ul > .dropdown > .dropdown-menu > .dropdownli > .dr2:hover {
  background-color: $white;
}
nav > ul > .dropdown > .dropdown-menu > .dropdownli > .dr3:hover {
  background-color: $purplenb;
}
nav > ul > .dropdown > .dropdown-menu > .dropdownli > .dr4:hover {
  background-color: $dark;
}
