@import "../bootstrap-4.3.1/scss/bootstrap.scss";
@import "./reset";
@import "./variables";
@import "./maps";
//Hover nav principal
nav > ul > li:hover {
  border-radius: 0.4rem 0.4rem 0rem 0rem;
}
.firstnav:hover {
  background-color: $yellownb;
}
.dropdown:hover {
  background-color: $purplenb;
}
.lastnav:hover {
  background-color: $black;
}
nav > ul > li > .nav-link:hover {
  color: $white;
}
nav > ul > li > .firstanav:hover {
  color: $dark;
}
//Hover dropdown *En proceso*
nav > ul > .dropdown > .dropdown-menu {background-color: $purple;}
nav > ul > .dropdown > .dropdown-menu > .dropdownli > .dropdown-item:hover {border: .1px solid $dark}
nav > ul > .dropdown > .dropdown-menu > .dropdownli > .dr1:hover {
  background-color: $yellownb;
}
nav > ul > .dropdown > .dropdown-menu > .dropdownli > .dr2:hover {
  background-color: $white;
}
nav > ul > .dropdown > .dropdown-menu > .dropdownli > .dr3:hover {
  background-color: $purplenb;
}
nav > ul > .dropdown > .dropdown-menu > .dropdownli > .dr4:hover {
  background-color: $dark;
}
