@import "./reset";
@import "./variables";
@import "./maps";
/* Functions and mixins */
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}
@function sizes($sizes) {
  @return map-get($font-sizes, $sizes);
}
@function padd($padd) {
  @return map-get($paddings, $padd);
}
@mixin flexCenter($display, $direction) {
  display: $display;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin theme($light-theme: true) {
  @if $light-theme {
    background-color: lighten($bg-color, 50%);
    color: darken($color, 100%);
  } @else {
    background-color: darken($bg-color, 50%);
    color: lighten($color, 100%);
  }
}
$rainbow: $purple $cyan $green $yellow $orange $red;
@for $i from 1 through 6 {
.rainbow p:nth-child(#{$i}) {
@extend .message;
background-color: nth($rainbow,
$i)!important;
}
}
.message {
  padding: 0.8em 1.5em;
  border-radius: 1rem;
  width: 70%;
  margin: 1em auto;
}
.message-info {
  @extend .message;
  color: #fff;
  background-color: $blue;
}
.message-danger {
  @extend .message;
  color: #fff;
  background-color: $red;
}